{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category{{category.id}}:{{category.cat_name}} </h2>
    <ul class="horizontal-list">
        {% for category in categories %}
            <li><a href="{% url 'commodities' category.id %}">{{ category.cat_name.capitalize }}</a></li>
        {% endfor %}
    </ul>
    <div class="grid-container">
        {% for listing in listings %}
            <div class="grid-item">
            
                <p><a href="{% url 'listing' listing.id %}">Listing {{listing.id}}: {{ listing.title }}</a></p></br>
                <div class=image-container>
                    <a href="{% url 'listing' listing.id %}" class="grid-link">
                    <img src = "{{listing.image}}" alt = "{{ listing.title }}" height = "200px"></br>
                    </a>
                </div>
                <li>Price: ${{listing.starting_value}}</li>
                <li>Created: {{listing.date}}</li>      
            
            </div>

        {% endfor %}
        {% if not listings %}
            No listings found!!!
        {% endif %}
    </div>
    
    <div class="fixed-bottom">
        <a href = "{% url 'index' %}"> Back to Auction Listings</a>
    </div>
    

{% endblock %}