{% extends "auctions/layout.html" %}

{% block title %}
    Create Listings
{% endblock %}

{% block body %}
    

    <div class="form-container-create">
        <h2>Create Listings</h2></br>
        <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            
            <div class="form-group">
                <label for="title">Title:</label>                      
                <input type="text" id="title" name="title">
            </div>    
            
            <div class="form-group">
                <label for="content">Description:</label>                                  
                <textarea name="content" id="content"></textarea>
            </div>    
            
            <div class="form-group">
                <label for="starting_value">Starting bid:</label>                      
                <input type="number" id="starting_value" name="starting_value">
            </div>

            <div class="form-group">
                <label for="image">Image:</label>                      
                <input type="text" name="image" id="image" placeholder="Place URL for the image here">
            </div>

            <div class="form-group">
                <label for="category">Category:</label>                      
                <select name="category" id="category">      
                    {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <input type="submit" value="Submit" class="btn-submit">
        </form>
    </div>
   
{% endblock %}
